.u-section-1 .u-sheet-1 {
  min-height: 254px;
}

.u-section-1 .u-text-1 {
  margin: 0 17px 0 -17px;
}

.u-section-1 .u-image-1 {
  width: 72px;
  height: 72px;
  margin: -140px auto 60px 431px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 268px;
  }
}